body {
    background: rgb(117, 211, 125);
    font: normal 15pt arial;
}
header {
    color: white;  
    text-align: center;
}

section {
    background: white;
    border-radius: 10PX;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0,363);
}

div{
    text-align: left;
    padding-top: 10px;
}


footer{
  color: white;
  text-align: center;
  font-size: italic;
  padding-top: 10%;
}